#portada{
  font-family: 'Exo 2', sans-serif;
  color:black;
  text-align: center;
}

#juego {
  font-family: 'Exo 2', sans-serif;
  color:white;
  text-align: center;
}

header {
  display: block;
  background: url("../img/background3.jpg") no-repeat;
  padding: 10px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 15px;
}

#mainJuego {
  background: url("../img/background2.jpg") no-repeat;
  background-size: 100% 100%;
  height: 1000px;
}

#mainPortada {
  background: url("../img/backgroundatleti.jpg") no-repeat;
  background-size: 100% 100%;
  height: 700px;
  margin-top: -80px;
}

.texto {
  margin-top: -100px;
  color: white;
  background: red;
  font-weight: lighter; 
  padding: 5px 0 15px;
}

.space {
  height: 10px;
}

#status_message {
  margin: 10px;
  background-color: grey;
  color: white;
  font-weight: bold;
}

.blue {
  width: 1400px;
  height: 690px; 
  background: rgba(183, 225, 239, 0.50);
  border: 1px;
  border-radius: 50px;
  margin: 20px auto;
}

#board {
  width: 80%;
  padding: 20px;
  margin-left: 30px;
}

.card {
  width:150px;
  height: 150px;
  float: left;
  border: 1px solid gray;
  margin-right: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.randomcard{
  width:130px;
  height: 140px;
  margin: 20px 0 40px 1120px;
  background: white url("../img/question1.png") no-repeat;
  background-size: 100% 95%;
  margin-bottom: 40px;
}

.randomcard .imagen{
  height: 250px;
}


.card .imagen{
	width:130px;
  height:140px;
  margin: 5px auto; 
  float:left; 
}

.actions {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style-type: none;
}


.actions ul li{
  display: inline-block;
  margin-right: 30px;
}

.btn {
  width: 150px;
  background: white;
  color:black;
  margin-top: 20px;
}

.start {
  width: 200px;
  background: white;
  color:black;
}

.btn:active {
  top: 5px;
  box-shadow: none;
}

.score {
  background: url("../img/background3.jpg") no-repeat;
  color: white;
  text-align: center;
  margin: 20px 0 40px 1050px;
  padding: 20px;
  width: 300px;
}
